<div class="logo-wrapper">
    <h3 class="m-0">
        <img class="img-responsive standard-logo retina-logo" src="//www.geothermusa.com/wp-content/uploads/2018/11/logo.png" alt="Geotherm – USA">
    </h3>
</div>
